#container {
    display:block;
    margin:0 auto;
    width:980px;
}

.block {
    display:block;
    width:100%;
}

.nav {
    background-image:url('img/toronto.jpg');
}

.logo {
    min-height: 200px;
    position:relative;
}

.top-left {
    position:absolute;
    top:0;
    left:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.bottom-left {
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.top-right {
    position:absolute;
    top:0;
    right:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.bottom-right {
    position:absolute;
    bottom:0;
    right:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.logo {

}

.profile {
    float:top;
    text-align: center;
}

.profile .me {
    border-radius:75px;
    -webkit-box-shadow: 0px 0px 10px rgba(51, 50, 50, 0.95);
    -moz-box-shadow:    0px 0px 10px rgba(51, 50, 50, 0.95);
    box-shadow:         0px 0px 10px rgba(51, 50, 50, 0.95);
}

.profile li {
    list-style-type: none;
    display:inline;
}

.feed {
    float:bottom;
    text-align: center;
}

.feed ul li {
    list-style-type:none;
}