#container {
    display:block;
    margin:0 auto;
    width:980px;
    position: relative;
    vertical-align: top;
}

.block {
    display:block;
    width:100%;
    position: relative;
    margin-top: 20px
}

.nav {
    height: 300px;
    position: relative;
    background-image:url('img/toronto.jpg');
}

.logo {
    margin: auto;
    display: block;
    min-height: 200px;
    position:relative;
    padding-top: 25px;
}

.top-left {
    position:absolute;
    top:0;
    left:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.bottom-left {
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.top-right {
    position:absolute;
    top:0;
    right:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.bottom-right {
    position:absolute;
    bottom:0;
    right:0;
    display:block;
    text-decoration:none;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    color:#000000;
}

.logo {

}

.profile {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 45%;
}

.profile .me {
    border-radius:75px;
    -webkit-box-shadow: 0px 0px 10px rgba(51, 50, 50, 0.95);
    -moz-box-shadow:    0px 0px 10px rgba(51, 50, 50, 0.95);
    box-shadow:         0px 0px 10px rgba(51, 50, 50, 0.95);
}

.profile li {
    list-style-type: none;
    display:inline;
}

.feed {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 45%;
    float: right;
}

.feed ul li {
    list-style-type:none;
}
